.loader{
    background: rgb(255, 238, 0);
}

.logoLoader{
    width: 100px;
    height: 100px;
}

.MuiLinearProgress-barColorPrimary	{
    background: rgb(255, 238, 0);
}

.MuiLinearProgress-root	 {
    width: 100px;

}