h1 {
    font-size: 50px;
    text-align: left;
    margin-bottom: 0;
    width: 0px;
}

h4 {
    color: rgb(253, 0, 253);
    animation: opacity 2s 500ms;
    animation-fill-mode: forwards;
    opacity: 0;
}
p {
    color: rgb(253, 0, 253);
    animation: opacity 2s 500ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

a {
    color: rgb(253, 0, 253);
    animation: opacity 2s 500ms;
    animation-fill-mode: forwards;
    animation-delay:  2s;
    text-decoration: none;
    opacity: 0;
}

.avatar{
    width: 250px !important;
    height: 250px !important;
    border-top: 3px solid #ffb503;
    border-bottom: 3px solid rgb(253, 0, 253);
    margin-top: 2%;
    margin-bottom: 2%;
    animation: opacity 5s 500ms  ;
    animation-iteration-count: inherit;
    animation-delay:  1s;
    animation-fill-mode: forwards;
    opacity: 0;


}

@keyframes opacity {
    from {
        opacity: 0;
        animation-play-state: paused, running;

    }
    to {
        opacity: 1;

    }
}
.line {
    position: relative;
    width: 0px !important;
    margin: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
    animation-fill-mode: forwards;

}

@media screen and (max-width:500px){
      .line {
            position: relative;
            width: 0px !important;
            margin: auto;
            border-right: 2px solid rgba(255, 255, 255, 0.75);
            overflow: hidden;
            animation-fill-mode: forwards;
            
      }

      h1 {
            font-size: 20px;
            text-align: left;
            margin-bottom: 0;
        }

      .anim-typewriter {
            width:0px;
            animation: typewritermobile 2s steps(15) 500ms,
            blinkTextCursor !important;
            animation-fill-mode: forwards;
      }

      @keyframes typewritermobile {
            0% {
                  width: 0px;
            }
            10% {
                  width: 0px;
            }
            25% {
                  width: 185px;  
            }
            75% {
                  width: 185px;
            }
            90% {
                  width: 185px
            }
            100% {
                  width: 185px !important;
                  animation-play-state: paused;
            }
      }
}

/*Animação*/
.anim-typewriter {
    animation: typewriter 10s steps(22) 500ms,
    blinkTextCursor;
    animation-fill-mode: forwards;
    width:0px;
}
@keyframes typewriter {
      0% {
            width: 0px;
      }
      10% {
            width: 0px;
      }
      25% {
            width: 1000px;
      }
      75% {
            width: 1000px;
      }
      90% {
            width: 1000px;
      }
      100% {
            width: 1000px;
            animation-play-state: paused;
      }
}
@keyframes blinkTextCursor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}