.linkYellow {
    color: rgb(253, 186, 0);
    animation: opacity 5s 500ms;
    opacity: 0;
    animation-fill-mode: forwards;
    text-decoration: none;
}

p {
    color: rgb(255, 0, 255);
    font-weight: 700;
    animation: opacity 5s 500ms;
    animation-fill-mode: forwards;
    opacity: 0;

}


@keyframes opacity {
    from {
        opacity: 0;
        animation-play-state: paused, running;

    }
    to {
        opacity: 1;

    }
}
.lineAboutMe {
    position: relative;
    width: 0px;
    margin: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
    animation-fill-mode: forwards;


}

@media screen and (max-width:500px){
      .lineAboutMe {
            position: relative;
            width: 0px !important;
            margin: auto;
            border-right: 2px solid rgba(255, 255, 255, 0.75);
            overflow: hidden;
            
      }

      h1 {
            font-size: 20px;
            text-align: left;
            margin-bottom: 0;
        }

   

      @keyframes typewritermobile {
            0% {
                  width: 0px;
            }
            10% {
                  width: 0px;
            }
            25% {
                  width: 150px;  
            }
            75% {
                  width: 150px;
            }
            90% {
                  width: 150px
            }
            100% {
                  width: 150px !important;
                  animation-play-state: paused;
            }
      }
}

/*Animação*/
.typewriterAbouMe {
      animation: typewriterAbouMe 5s steps(10) 500ms,
      blinkTextCursor;
      float: left;
      animation-fill-mode: forwards;

}
@keyframes typewriterAbouMe {
      0% {
            width: 0px;
      }
      10% {
            width: 0px;
      }
      25% {
            width: 150px;
      }
      75% {
            width: 150px;
      }
      90% {
            width: 150px;
      }
      100% {
            width: 150px;
            animation-play-state: paused;
      }
}
@keyframes blinkTextCursor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}
.logo {
    width: 700px;
    transform: rotate(15deg);
    background-size: 120%;
    position: -10% 10%;
    animation: opacity 5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.noOverflow {
    overflow: hidden !important;
}

.displayInline{
    display: inline-block;
    color: rgb(255, 0, 255);
    animation: opacity 5s;
    animation-fill-mode: forwards;
    opacity: 0;
}